* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-image: url(/order-summary-component-main/images/pattern-background-desktop.svg);
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    
}

.container {
    max-width: 375px;
    background-color: white;
    display: flex;
    border-radius: 10px;
    box-shadow: 2px 4px 10px hsl(223, 47%, 23%, 10);
}

.grid {
    max-width: 220px;
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
}


img {
    width: 100%;
    
    
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 12px;
    color: darkblue;
    padding: 5px;
    margin-top: 10px;
    
}

p {
    font-size: 8px;
    text-align: center;
    line-height: 12px;
    padding: 5px;
    width: 180px;
}

.annual_plan {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:;
}

.plan_info {
    flex-direction: column;
    width: 150px;
    border-radius: 5px;
    background-color: hsl(225, 100%, 98%);

}
.plan_info img {
    width: 35px;
    height: 25px;
    position: relative;
    top: 8px;
    padding-left: 10px;
}

h2 {
    left: 40px;
    bottom: 15px;
    position: relative;
    font-size: 8px;
    font-weight: 700;
    color: darkblue;

}

h5 {
    position: relative;
    left: 40px;
    bottom: 10px;
    font-size: 8px;
    color: grey;
}

a h6 {
    font-size: 8px;
}
a {
    position: relative;
    left: 110px;
    bottom: 30px;
}

.payment {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.payment button {
    width: 150px;
    border-radius: 5px;
    background-color: hsl(245, 75%, 52%);
    box-shadow: 2px 4px  10px hsl(269, 15%, 70%);
    border: none;
    position: relative;
    bottom: 10px;
}

h3 {
    font-size: 7px;
    padding: 7px;
    color: white;

}


.cancel_order {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 15px;

}
a {
    font-size: 10px;
}

.cancel_order h6 {
    padding: 5px;
    font-size: 8px;
    word-spacing: 1px;
}


@media  screen and (max-width: 375px) {
    h1, h2 {
    color: #333;
}

    .grid {
        width: 375px;
    }

     {
        margin: 10px;
        padding: 15px;
    }
}
/*
- Mobile: 3
@media  screen and (max-width: 375px) {
    body {
    background-color:  hsl(0, 0%, 100%);
}
}75px
- Desktop: 1440px

## Colors

### Primary

- Pale blue: hsl(225, 100%, 94%)
- Bright blue: hsl(245, 75%, 52%)

### Neutral

- Very pale blue: hsl(225, 100%, 98%)
- Desaturated blue: hsl(224, 23%, 55%)
- Dark blue: hsl(223, 47%, 23%)

## Typography

### Body Copy

- Font size (paragraph): 16px

### Font

- Family: [Red Hat Display](https://fonts.google.com/specimen/Red+Hat+Display)
- Weights: 500, 700, 900
*/